<div class="container white" style="margin-bottom:25px">
    <div class="center" style="padding-top: 20px">
        <h4 class="green-text text-darken-2">Listagem de Auxiliares de Educação.</h4>
    </div>
    <div class="row">
        <form class="col s12 left-align">
            <div class="col s10 offset-s1">

                    <div *ngFor="let assistant of assistants" class="card horizontal row">
                        <div class="card-image valign-wrapper col s3">
                            <img [attr.src]="assistant?.Photo" class="responsive-img" style="height: 100px">
                        </div>
                        <div class="card-stacked col s9">
                            <div class="card-content left-align">
                                <h5>{{assistant?.Name}}</h5>
                            </div>
                            <div class="card-action">
                                <a class="left green-text text-darken-2" [routerLink]="['/user/details/', assistant?.ID]">Perfil</a>
                                <a class="right green-text text-darken-2" [routerLink]="['/notifications/sendToUser',assistant?.ID]">Enviar Mensagem</a>
                            </div>
                        </div>
                    </div>

            </div>
        </form>
    </div>
</div>