<div class="center green white-text flow-text">Os meus educandos</div>
<div class="row" style="margin-top: 10px;">
    <div class="col s12 m8 offset-m2">
        <div class="row">
            <div *ngFor="let student of students" class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img [attr.src]="student?.Photo" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator green-text text-darken-1 center-align">{{student?.Name}}</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title green-text text-darken-1 center-align">{{student?.Name}}</span>
                        <br>
                        <div class="card-action">
                            <a class="card-action grey-text text-darken-2" [routerLink]="['/primary-class/', student?.ClassID]">Aulas</a>
                        </div>
                        <div class="card-action">
                            <a class="card-action grey-text text-darken-2" [routerLink]="['/user/details/', student?.UserID]">Perfil</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>