<div class="row">
    <div class="col s1"></div>
    <div class="col s2 white card z-depth-4" *ngIf="!_guardianGuard.canActivate()" style="margin-right:10px">
        <img class="circle responsive-img" [attr.src]="profilePhoto" style="width:100%">
        <div *ngIf="!_studentGuard.canActivate()">
            <label for="profilePhoto" class="btn green darken-2">Mudar imagem</label>
            <input id="profilePhoto" style="visibility:hidden" type="file" />
        </div>
    </div>
    <div class="col s8 white card z-depth-4">
        <div class="black-text">
            <div class="center-align row">
                <h2>{{profileDetails?.Name}}</h2>
            </div>
            <form>
                <div class="left-align">
                    <!-- FUNCTION -->
                    <div class="row" *ngIf="profileToPost.Function!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="col s10">
                            <input id="Function" type="text" [(ngModel)]="profileToPost.Function" class="black-text" name="Function" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div *ngIf="!_studentGuard.canActivate()" class="w3-rest" (click)="showInput('Function')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="row" *ngIf="profileToPost.Address!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="material-icons">home</i>
                        </div>
                        <div class="col s10">
                            <input id="Address" type="text" [(ngModel)]="profileToPost.Address" class="black-text" name="Address" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div *ngIf="!_studentGuard.canActivate()" (click)="showInput('Address')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="row" *ngIf="profileToPost.Email!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="material-icons">email</i>
                        </div>
                        <div class="col s10">
                            <input id="Email" type="text" [(ngModel)]="profileToPost.Email" class="black-text" name="Email" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div *ngIf="!_studentGuard.canActivate()" (click)="showInput('Email')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- FiscalNumber-->
                    <div class="row" *ngIf="profileToPost.FiscalNumber!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="fa fa-credit-card fa-fw"></i>
                        </div>
                        <div class="col s10">
                            <input id="FiscalNumber" type="text" [(ngModel)]="profileToPost.FiscalNumber" class="black-text" name="FiscalNumber" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div *ngIf="!_studentGuard.canActivate()" (click)="showInput('FiscalNumber')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- CitizenCard -->
                    <div class="row" *ngIf="profileToPost.CitizenCard!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="fa fa-id-card fa-fw"></i>
                        </div>
                        <div class="col s10">
                            <input id="CitizenCard" type="text" [(ngModel)]="profileToPost.CitizenCard" class="black-text" name="CitizenCard" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div *ngIf="!_studentGuard.canActivate()" (click)="showInput('CitizenCard')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- PhoneNumber -->
                    <div class="row" *ngIf="profileToPost.PhoneNumber!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="col s10">
                            <input id="PhoneNumber" type="text" [(ngModel)]="profileToPost.PhoneNumber" class="black-text" name="PhoneNumber" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div (click)="showInput('PhoneNumber')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Curriculum -->
                    <div class="row" *ngIf="profileToPost.Curriculum!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="fa fa-file-text-o fa-fw"></i>
                        </div>
                        <div class="col s10">
                            <input id="Curriculum" type="text" [(ngModel)]="profileToPost.Curriculum" class="black-text" name="Curriculum" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div (click)="showInput('Curriculum')">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                    <!-- DateOfBirth -->
                    <div class="row" *ngIf="profileToPost.DateOfBirth!=null">
                        <div class="col" style="width:30px;margin-top:10px">
                            <i class="fa fa-birthday-cake fa-fw"></i>
                        </div>
                        <div class="col s10">
                            <input id="DateOfBirth" type="text" [(ngModel)]="profileToPost.DateOfBirth" class="black-text" name="DateOfBirth" (keyup)="showSubmit($event)"
                                readonly />
                        </div>
                        <div class="col s1">
                            <div (click)="showInput('DateOfBirth')" *ngIf="!_studentGuard.canActivate()">
                                <i class="fa fa-pencil w3-btn w3-teal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <footer *ngIf="!_studentGuard.canActivate()" class="center-align" style="margin-bottom:20px">
                <button id="submitChanges" (click)="submitChanges()" class="btn green darken-2">Submeter alterações</button>
            </footer>
        </div>
    </div>
    <div class="col s1"></div>
</div>