<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-container">
                    <div class="w3-display-container">
                        <img src="admin.png" style="width:100%;" alt="Avatar">
                    </div>
                    <div class=" w3-text-black">
                        <h2>{{user?.Name}}</h2>
                    </div>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user?.Function}}</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user?.Morada}}</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user?.Email}}</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user?.PhoneNumber}}</p>
                    <hr>
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom ">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-calendar fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Horário</h2>
                <div class="w3-content w3-row w3-center" style="max-width:1400px; padding-bottom:12px">

                    <div class="w3-row w3-card w3-round w3-pale-green">
                        <div class="w3-col s1 w3-hide-small">
                            <div class="w3-row w3-section">
                                <div class="w3-col s12 schedule"></div>
                                <div class="w3-col s12 schedule w3-margin-bottom w3-margin-top" style="padding-left:6px">
                                    <div class="w3-round w3-teal w3-medium">09h00 09h45</div>
                                </div>
                                <div class="w3-col s12 schedule w3-margin-bottom" style="padding-left:6px">
                                    <div class="w3-round w3-teal w3-medium">10h05 10h50</div>
                                </div>
                                <div class="w3-col s12 schedule  w3-margin-bottom" style="padding-left:6px">
                                    <div class="w3-round w3-teal w3-medium">11h00 11h45</div>
                                </div>
                                <div class="w3-col s12 schedule w3-margin-bottom" style="padding-left:6px">
                                    <div class="w3-round w3-teal w3-medium">13h15 14h00</div>
                                </div>
                                <div class="w3-col s12 schedule " style="padding-left:6px">
                                    <div class="w3-round w3-teal w3-medium">14h15 15h00</div>
                                </div>
                            </div>
                        </div>

                        <div class="w3-col s12 m11">
                            <div class="w3-row-padding w3-section">
                                <div class="w3-col" style="width:20%">
                                    <div class="w3-row">
                                        <div class="w3-col s12 schedule w3-round w3-deep-orange">Segunda</div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                    </div>
                                </div>
                                <div class="w3-col" style="width:20%">
                                    <div class="w3-row">
                                        <div class="w3-col s12 schedule w3-round w3-deep-orange">Terça</div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                    </div>
                                </div>
                                <div class="w3-col" style="width:20%">
                                    <div class="w3-row">
                                        <div class="w3-col s12 schedule w3-round w3-deep-orange">Quarta</div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                    </div>
                                </div>
                                <div class="w3-col" style="width:20%">
                                    <div class="w3-row">
                                        <div class="w3-col s12 schedule w3-round w3-deep-orange">Quinta</div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                    </div>
                                </div>
                                <div class="w3-col" style="width:20%">
                                    <div class="w3-row">
                                        <div class="w3-col s12 schedule w3-round w3-deep-orange">Sexta</div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                        <div class="w3-col s12 schedule"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w3-col s1 w3-container"></div>
            </div>



            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>