body{
    /* background: url('assets/img/politecnico-tomar-fachada.jpg') no-repeat fixed; */
    background-size: 100%;
    padding-top: 50px;
}
footer {
    bottom:0px; width: 100%;
    padding: 10px;
}

a{color: black;}
        
a:hover p{color: darkblue;}

a, a:hover{
    text-decoration: none;
}