<div *ngIf="_studentGuard.canActivate(); else elseblock" class="row">
    <div class="card-panel white col s10 offset-s1">
        <table>
            <thead>
                <tr>
                    <th>Data da Avaliação:</th>
                    <th>Disciplina:</th>
                    <th>Objetivo da Avaliação:</th>
                    <th>Nota:</th>
                    <th>Professor:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eval of evaluations; let i=index" class="row center-align">
                    <td>{{eval?.EvaluationDate | date:'shortDate'}}</td>
                    <td>{{eval?.Subject}}</td>
                    <td>{{eval?.Purport}}</td>
                    <td>{{eval?.Grade}}</td>
                    <td>{{eval?.Teacher}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #elseblock >
    <div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel white">
            <div *ngFor="let eval of evaluations; let i=index">
                <div class="row left-align">
                    <label class="col s4">{{eval?.EvaluationDate | date:'shortDate'}}</label>
                    <label class="col s5">{{eval?.Subject}}</label>
                    <a (click)="select(i)" class="btn col s3 green center">Classificações</a>
                </div>
            </div>
        </div>

        <div id="evaluationModal" class="modal">
            <div class="modal-content" style="max-width: 100%;">
                <span (click)="closeNotifDetails()" class="btn green darken-2" style="margin-left:90%">&times;</span>
                <div class="row panel">
                    <h3 class="col s12 center">Classificações</h3>
                    <h5 class="col s8 left-align">{{selected?.Subject}}</h5>
                    <h5 class="col s4 right-align">{{selected?.EvaluationDate | date:'shortDate'}}</h5>
                </div>

                <div class="card-panel left-align">
                    <table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                        </tr>
                        <tr *ngFor="let student of selected?.Students">
                            <td>{{student?.Name}}</td>
                            <td>{{student?.Value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</ng-template>