<div *ngIf="_studentGuard.canActivate(); else elseblock" class="row">
    <div class="card-panel white col s10 offset-s1">
        <table>
            <thead>
                <tr>
                    <th>Data da Avaliação:</th>
                    <th>Disciplina:</th>
                    <th>Objetivo da Avaliação:</th>
                    <th>Nota:</th>
                    <th>Professor:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eval of evaluations; let i=index" class="row center-align">
                    <td>{{eval?.EvaluationDate | date:'shortDate'}}</td>
                    <td>{{eval?.Subject}}</td>
                    <td>{{eval?.Purport}}</td>
                    <td>{{eval?.Grade}}</td>
                    <td>{{eval?.Teacher}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #elseblock>
    <div class="card-panel white">
        <div *ngFor="let eval of evaluations; let i=index">
            <div class="row left-align">
                <label class="col s4">{{eval?.EvaluationDate | date:'shortDate'}}</label>
                <label class="col s5">{{eval?.Subject}}</label>
                <a (click)="select(i)" class="btn col s3 green center">Classificações</a>

            </div>
        </div>
    </div>

    <div id="evaluationModal" class="w3-modal">
        <div class="w3-modal-content w3-card" style="max-width: 500px;">
            <span (click)="hide()" class="w3-btn w3-display-topright w3-deep-orange">&times;</span>
            <div class="w3-row w3-panel">
                <h5 class="w3-col">Classificações</h5>
                <h3 class="w3-col s8 w3-left-align">{{selected?.Subject}}</h3>
                <h4 class="w3-col s4 w3-right-align">{{selected?.EvaluationDate | date:'shortDate'}}</h4>
            </div>

            <div class="w3-panel w3-left-align">
                <table class="w3-table-all">
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                    </tr>
                    <tr *ngFor="let student of selected?.Students">
                        <td>{{student?.Name}}</td>
                        <td>{{student?.Value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</ng-template>