<div class="w3-card-2 w3-lime w3-row">
    <div class="w3-col s4 w3-text-white">
        <div class="w3-panel w3-green ">
            <label class="w3-xxlarge">{{class?.Year}}{{class?.ClassDesc}}</label>
        </div>
    </div>
    <div class="w3-col s8 w3-right-align">
        <h4 class="w3-margin-right"><b>{{school?.Name}}</b></h4>
        <label class="w3-margin-right w3-large">{{class?.SchoolYear}}</label>
    </div>
</div>

<div class="w3-section w3-row">
    <a class="w3-quarter w3-border" [routerLink]="['schedule']" style="text-decoration:none" >
        <div id="option1" class="tablink w3-lime w3-hover-khaki w3-bottombar w3-padding w3-border-green" (click)="chooseOption('option1');">
            <label class="w3-large">Horário</label>
        </div>
    </a>
    <a class="w3-quarter w3-border" [routerLink]="['evaluation']" style="text-decoration:none" >
        <div id="option2" class="tablink w3-lime w3-hover-khaki w3-bottombar w3-padding" (click)="chooseOption('option2');">
            <label class="w3-large">Avaliações</label>
        </div>
    </a>
    <a class="w3-quarter w3-border" [routerLink]="['document']" style="text-decoration:none" >
        <div id="option3" class="tablink w3-lime w3-hover-khaki w3-bottombar w3-padding" (click)="chooseOption('option3');">
            <label class="w3-large">Documentos</label>
        </div>
    </a>
    <a *ngIf="!rol.includes(1)" class="w3-quarter w3-border" [routerLink]="['student']" style="text-decoration:none" >
        <div id="option4" class="tablink w3-lime w3-hover-khaki w3-bottombar w3-padding" (click)="chooseOption('option4');">
            <label class="w3-large">Alunos</label>
        </div>
    </a>
</div>



<div class="w3-animate-bottom w3-hide w3-show">
    <router-outlet></router-outlet>
</div>