<div class="hide-on-small-only row">
    <div class="col s12 l10 offset-l1">

            <div *ngIf="_adminGuard.canActivate() || _secretaryGuard.canActivate()" style="position: relative; height: 70px;">
                    <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; top: 24px; right: 0%">
                        <a class="btn-floating btn-large lime z-depth-4"><i class="large material-icons">menu</i></a>
                        <ul>
                            <li><a class=" hide-on-small-only btn green darken-2 right">Adicionar Aula</a></li>
                        </ul>
                    </div>
                </div>

        <div class="row card" style="margin-top:30px; padding-top: 20px;">
            <div class="col hide-on-med-only" style="width:10%">
                <div id="hoursColumn" class="row"></div>
            </div>
            <div class="col" style="width:90%">
                <div class="row">
                    <div class="col" style="width:20%">
                        <div class="center-align" style="height: 50px;">
                            <span class="flow-text">Segunda</span>
                        </div>
                        <div id="bigMonday" class="row"></div>
                    </div>
                    <div class="col" style="width:20%">
                        <div class="col s12 center-align" style="height: 50px;">
                            <span class="flow-text">Terça</span>
                        </div>
                        <div id="bigTuesday" class="row"></div>
                    </div>
                    <div class="col" style="width:20%">
                        <div class="col s12 center-align" style="height: 50px;">
                            <span class="flow-text">Quarta</span>
                        </div>
                        <div id="bigWednesday" class="row"></div>
                    </div>
                    <div class="col" style="width:20%">
                        <div class="col s12 center-align" style="height: 50px;">
                            <span class="flow-text">Quinta</span>
                        </div>
                        <div id="bigThursday" class="row"></div>
                    </div>
                    <div class="col" style="width:20%">
                        <div class="col s12 center-align" style="height: 50px;">
                            <span class="flow-text">Sexta</span>
                        </div>
                        <div id="bigFriday" class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide-on-med-and-up">
    <div>
        <a (click)="accordion('smallMonday')" class="btn col schedule green">Segunda</a>
        <div id="smallMonday" class="hide container row"></div>
        <a (click)="accordion('smallTuesday')" class="btn col schedule green">Terça</a>
        <div id="smallTuesday" class="hide container row"></div>
        <a (click)="accordion('smallWednesday')" class="btn col schedule green">Quarta</a>
        <div id="smallWednesday" class="hide container row"></div>
        <a (click)="accordion('smallThursday')" class="btn col schedule green">Quinta</a>
        <div id="smallThursday" class="hide container row"></div>
        <a (click)="accordion('smallFriday')" class="btn col schedule green">Sexta</a>
        <div id="smallFriday" class="hide container row"></div>
    </div>
</div>

<div id="scheduleModal" class="modal bottom-sheet" style="min-height:370px;">
    <div class="modal-content light-green accent-1" style="min-height: 100%;position: relative">
        <div style="position: absolute;top:5px;right: 10px;">
            <a class="btn-floating deep-orange darken-2" (click)="close()"><i class="material-icons">close</i></a>
        </div>
        <div class="container">
            <table class="striped white">
                <thead>
                    <tr>
                        <td>Disciplina:</td>
                        <th>{{selected?.Subject}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Professor:</td>
                        <th>{{selected?.Teacher}}</th>
                    </tr>
                    <tr>
                        <td>Dia da semana:</td>
                        <th>{{day[selected?.DayOfWeek-1]}}</th>
                    </tr>
                    <tr>
                        <td>Hora:</td>
                        <th>{{selected?.StartTime}}</th>
                    </tr>
                    <tr>
                        <td>Sala:</td>
                        <th>{{selected?.Room}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="row" style="margin:0px">
            <a *ngIf="_teacherGuard.canActivate() && able" (click)="showLessonsTeacher()" class="col s12 btn green darken-2">Lições</a>
            <a *ngIf="_adminGuard.canActivate() || _secretaryGuard.canActivate()" (click)="showLessonsTeacher()" class="col s12 btn green darken-2">Lições</a>
            <a *ngIf="_studentGuard.canActivate() || _guardianGuard.canActivate()" (click)="showLessonsStudent()" class="col s12 btn green darken-2">Lições</a>
        </div>
    </div>
</div>