<div class="hide-on-small-only row">
    <div class="row card col s10 offset-s1" style="height:100%;background-color:white;padding:16px">
        <div class=" center">
            <div *ngFor="let student of students">
                <div class="row card green">
                    <div class=" col s5 m3 l2 container">
                        <img [attr.src]="student?.Photo" class="responsive-img" style="max-height: 60px;">
                    </div>
                    <div class="col s7 m6 l7 left-align" style="max-height: 75px;">
                        <span class="white-text"><b>Função:</b> {{student?.Function}}</span><br>
                        <span class="white-text"><b>Nome:</b> {{student?.Name}}</span><br>
                        <span class="white-text"><b>Email:</b> {{student?.Email}}</span>
                    </div>
                    <a class="col m3 btn lime">Detalhes</a>
                    <a class="col m3 btn lime" [routerLink]="['/notifications/sendToUser',student.ID]">Enviar mensagem</a>
                </div>
            </div>
        </div>
    </div>
</div>