<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides w3-animate-top" src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
  <img class="mySlides w3-animate-right" src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
  <img class="mySlides w3-animate-bottom" src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
  <img class="mySlides w3-animate-left" src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
</div>

<script>
carousel();
</script>