    <div class="w3-container" style="margin-top:86px">
        <button class="w3-button w3-black" onclick="document.getElementById('sensorInfo').style.display='block'">
            ola
        </button>
        <div id="sensorInfo" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-bottom">
                <header class="w3-container w3-deep-orange">
                    <h2 class="w3-center">{{sensor.Name}}</h2>
                    <span class="w3-button w3-display-topright w3-hover-teal" onclick="document.getElementById('sensorInfo').style.display='none'">&times;</span>
                </header>
                <div class="w3-container">
                    <table class="w3-table w3-bordered w3-mobile">
                        <tr>
                            <th>
                                <p class="w3-text-teal">Data</p>
                            </th>
                            <th>
                                <p class="w3-text-teal">Temperatura</p>
                            </th>
                            <th>
                                <p class="w3-text-teal">Luminosidade</p>
                            </th>
                            <th>
                                <p class="w3-text-teal">Energia</p>
                            </th>
                            <th>
                                <p class="w3-text-teal">Humidade</p>
                            </th>
                        </tr>
                        <tr>
                            <td>{{sensor.Data}}</td>
                            <td>{{sensor.Temperatura}}</td>
                            <td>{{sensor.Luminosidade}}</td>
                            <td>{{sensor.Energia}}</td>
                            <td>{{sensor.Humidade}}</td>
                        </tr>
                    </table>
                </div>
                <footer class="w3-margin-top w3-container">
                    <div class="w3-center">
                        <a href="void:javascript(0)">Registos mais antigos<i class="fa fa-angle-double-down"></i></a>
                    </div>
                </footer>
            </div>
        </div>
    </div>