<br>
<div class="w3-white w3-container w3-card-4">
    <h1>{{title}}<small> -  {{subtitle}}</small></h1>
</div>
<br>
<!-- The Grid -->
<div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4 w3-row">
            <div class="w3-col s6 m12 w3-display-container">
                <img src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
                <div class="w3-hide-small w3-display-bottomleft w3-container w3-text-black">
                    <h2>{{secretary?.Name}}</h2>
                </div>
                <div class="w3-hide-large w3-hide-medium w3-container w3-text-black">
                    <h2>{{secretary?.Name}}</h2>
                </div>
            </div>
            <div class="w3-col s6 m12">
                <div class="w3-row w3-container">
                    <div class="w3-col s12 w3-text-black">{{secretary?.Email}}</div>
                    <div class="w3-col s12 w3-text-black">{{secretary?.Phone}}</div>
                    <div class="w3-col s6">Work time</div>
                    <div class="w3-col s6 w3-text-black">{{ secretary?.StartWorkTime | date:'HHmm' }} - {{ secretary?.EndWorkTime | date:'HHmm' }}</div>
                    <div class="w3-col s12">Address</div>
                    <div class="w3-col s12 w3-text-black">{{secretary?.Address}}</div>
                    <div class="w3-col s6">In this institution since</div>
                    <div class="w3-col s6 w3-text-black">{{ secretary?.CreatedDate | date:'y' }}</div>
                    <div class="w3-col s12"></div>
                    <div class="w3-col s6">Activity state</div>
                    <!-- 
                            <div class="w3-col s6"*ngIf="secretary?.IsActive"><i class="fa fa-check" style="font-size:20px;color:green;"></i></div>
                            <div class="w3-col s6"*ngIf="!secretary?.IsActive"><i class="fa fa-remove" style="font-size:20px;color:red;"></i></div>
                             -->
                    <div class="w3-col s6" *ngIf="secretary?.IsActive"><i class="fa fa-check" style="font-size:20px;color:green;"></i><i class="fa fa-remove" style="font-size:20px;color:red;"></i></div>
                    <div class="w3-col s12"></div>
                    <div class="w3-col s6">Citizen Card</div>
                    <div class="w3-col s6 w3-text-black">{{secretary?.CitizenCard}}</div>
                    <div class="w3-col s12"></div>
                    <div class="w3-col s6">Fiscal Number</div>
                    <div class="w3-col s6 w3-text-black">{{secretary?.FiscalNumber}}</div>
                    <div class="w3-col s12"></div>
                    <div class="w3-col s6">Curriculum</div>
                    <div class="w3-col s6"><i class="fa fa-file-o" style="font-size:30px;font-weight:bold;color:black"></i></div>
                </div>
            </div>
        </div><br>
    </div>
    <!-- End Left Column -->

    <!-- Right Column -->
    <div class="w3-twothird">
        <!--   Messages   -->
        <div class="w3-container w3-card-2 w3-white w3-margin-bottom w3-row">
            <div class="w3-col m12">
                <h3 class="w3-text-grey">
                    <i class="fa fa-envelope fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> Messages
                </h3>
            </div>
            <div class="w3-col s6 m3 l2 w3-container w3-center w3-btn w3-teal w3-hover-black">
                <a onclick="accordion('sended')">
                    <h5>Sended</h5>
                </a>
            </div>
            <div class="w3-col s6 m3 l2 w3-container w3-center w3-btn w3-teal w3-hover-black">
                <a onclick="accordion('received')">
                    <h5>Received</h5>
                </a>
            </div>
            <div class="w3-col s12 w3-container w3-center w3-hide-large w3-hide-medium w3-btn w3-teal w3-hover-black">
                <a onclick="accordion('newMessage')">
                    <h5>New Message</h5>
                </a>
            </div>
            <div class="w3-col m6 l8 w3-container w3-right-align w3-hide-small w3-btn w3-teal w3-hover-black">
                <a onclick="accordion('newMessage')">
                    <h5>New Message</h5>
                </a>
            </div>
            <hr>
            <!--   New Message Form   -->
            <div id="newMessage" class="w3-col s12 w3-container w3-hide w3-animate-top">
                <form class="w3-row">
                    <label class="w3-col s12">Subject</label>
                    <input class="w3-input w3-col s9" type="text">
                    <a class="w3-button w3-teal w3-hover-black w3-col s3">Send</a>
                    <label class="w3-col s12">Message</label>
                    <textarea class="w3-input w3-col s12" name="message" rows="7" cols="100%"></textarea>

                </form>
                <hr>
            </div>
            <!-- End New Message Form -->
            <div id="sended" class="w3-col s12 w3-container w3-hide">
                <!-- ngFor messages sended -->
                <a href="#">
                    <div class="w3-panel w3-light-grey w3-topbar w3-animate-right">
                        <div class="w3-tag w3-round w3-orange"> {{message?.Hour}}</div>
                        {{message?.Subject}}
                    </div>
                </a>
                <div class="w3-bar w3-center">
                    <a href="#" class="w3-button w3-hover-teal">&laquo;</a>
                    <a href="#" class="w3-button w3-hover-teal">&raquo;</a>
                </div>
            </div>
            <div id="received" class="w3-col s12 w3-container w3-hide">
                <!-- ngFor messages received -->
                <a href="#">
                    <div class="w3-panel w3-light-grey w3-topbar w3-animate-left">
                        <div class="w3-tag w3-round w3-orange"> {{message?.Hour}}</div>
                        - {{message?.UserName}}
                        <p>{{message?.Subject}}</p>
                    </div>
                </a>
                <div class="w3-bar w3-center">
                    <a href="#" class="w3-button w3-hover-teal">&laquo;</a>
                    <a href="#" class="w3-button w3-hover-teal">&raquo;</a>
                </div>
            </div>
        </div>
        <!-- End Messages -->
        <!--    Actions   -->
        <div class="w3-container w3-card-2 w3-white">
            <a onclick="accordion('actions')" class="w3-block w3-left-align">
                <h3 class="w3-btn w3-text-grey">
                    <i class="fa fa-newspaper-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> Actions
                </h3>
            </a>
            <div id="actions" class="w3-container w3-hide">
                <!-- ngFor notifications -->
                <a href="#">
                    <div class="w3-panel w3-light-grey w3-topbar w3-animate-bottom">
                        <div class="w3-tag w3-round w3-orange"> {{action?.Hour}}</div>
                        - {{action?.Description}}
                    </div>
                </a>
                <div class="w3-bar w3-center">
                    <a href="#" class="w3-button w3-hover-teal">&laquo;</a>
                    <a href="#" class="w3-button w3-hover-teal">&raquo;</a>
                </div>
            </div>
        </div>
        <!-- End Actions -->
    </div>
    <!-- End Right Column -->
</div>
<!-- End Grid -->