<div class="w3-container w3-card-4">
    <h1 >{{title}}<small> -  {{subtitle}}</small></h1>
</div>

<div class="w3-row-padding">
    <div class="w3-col m12 l9">
        <div class="w3-container w3-card-4">
            <div class="w3-center w3-teal">
                <h3>Activity</h3>
            </div>
            <div class="w3-container">

                <!-- ngFor actions -->
                <a href="#">
                    <div class="w3-panel w3-light-grey w3-topbar w3-animate-left">
                        <div class="w3-tag w3-round w3-orange w3-border w3-border-white">
                            {{action?.executionHour}}
                        </div>
                        <p>{{action?.userName}} - {{action?.description}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="w3-col m12 l3">
        <div class="w3-container w3-card-2">
            <div class="w3-center w3-teal">
                <h3>Secretaries</h3>
            </div>
            <div class="w3-container w3-row-padding">
                <div *ngFor="let secretary of secretaries">
                    <a class="w3-col s12 m6 l12 w3-animate-bottom" [routerLink]="['secretary/profile', secretary.Id]">
                        <div class="w3-card-2 w3-display-container">
                            <img src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
                            <div class="w3-display-bottommiddle w3-large">{{secretary?.Name}}</div>
                        </div>
                        <div class="w3-padding-16 w3-center">
                            <span class="w3-tag w3-teal w3-round-large">{{secretary?.Email}}</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>