<nav>
    <div class="nav-wrapper">
        <ul class="row">
            <li class="col s4 white-text flow-text green darken-2" style="padding:0px">{{school?.Name}}</li>
            <li *ngFor="let floor of floors; let i=index" class="flow-text center-align" [ngClass]="nCols != 0 ? 'col s'+nCols : null" [routerLink]="['floor', floor?.ID]" style="text-decoration:none;padding:0px;cursor:pointer">
                <div [attr.id]="'option'+i" class="tablink green" (click)="chooseOption(i);">
                    {{floor?.Name}}
                </div>
            </li>
        </ul>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>