<div class="w3-content w3-hide-small w3-hide-medium" style="max-width:1400px;">
    <div id="board" class="w3-col s10 w3-container w3-center"></div>
</div>

<div class="w3-content w3-hide-large w3-white">
    <div *ngFor="let floor of floors; let i=index">
        <h2 class="w3-green">{{floor.Name}}</h2>
        <div *ngFor="let room of floor.Rooms; let j=index" class="w3-row">
            <a (click)="info(i,j)" class="w3-col w3-btn w3-lime w3-hover-khaki">{{ room?.Name }}</a>
        </div>
    </div>
</div>

<div id="info" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-bottom ">
        <div class="w3-container w3-green">
            <span (click)="hide()" class="w3-btn w3-display-topright w3-deep-orange w3-hover-khaki">&times;</span>
            <div class="w3-container w3-row">
                <div class="w3-hide-small w3-hide-medium w3-col s1 w3-dropdown-hover w3-panel w3-green" style="max-width: 40px;">
                    <i class="fa fa-ellipsis-v w3-xxlarge"></i>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a class="w3-bar-item w3-col w3-btn w3-hover-khaki w3-small">Editar</a>
                        <a class="w3-bar-item w3-col w3-btn w3-hover-khaki w3-small">Remover</a>
                        <a class="w3-bar-item w3-col w3-btn w3-hover-khaki w3-small">Reposicionar</a>
                    </div>
                </div>
                <h2 class="w3-col s11">{{selectedSensor?.Name}}</h2>
            </div>
        </div>


        <div class="w3-hide-small w3-hide-medium w3-row-padding">
            <div class="w3-col" style="width: 25%;">
                <div class="w3-lime w3-circle w3-panel">
                    <i class="fa fa-thermometer w3-xlarge w3-text-green w3-center"></i>
                    <h2 class="w3-text-gray">{{record?.Temperature}} ºC</h2>
                    <h4 class="w3-text-white">{{average?.TemperatureAVG}} ºC</h4>
                </div>
            </div>
            <div class="w3-col" style="width: 25%;">
                <div class="w3-lime w3-circle w3-panel">
                    <i class="fa fa-tint w3-xlarge w3-text-green w3-center"></i>
                    <h2 class="w3-text-gray">{{record?.Humidity * 100 | number:'2.0'}} %</h2>
                    <h4 class="w3-text-white">{{average?.HumidityAVG * 100 | number:'2.0'}} %</h4>
                </div>
            </div>
            <div class="w3-col" style="width: 25%;">
                <div class="w3-lime w3-circle w3-panel">
                    <i class="	fa fa-sun-o w3-xlarge w3-text-green w3-center"></i>
                    <h2 class="w3-text-gray">{{record?.Luminosity}} lm</h2>
                    <h4 class="w3-text-white">{{average?.LuminosityAVG}} lm</h4>
                </div>
            </div>
            <div class="w3-col" style="width: 25%;">
                <div class="w3-lime w3-circle w3-panel">
                    <i class="fa fa-flash w3-xlarge w3-text-green w3-center"></i>
                    <h2 class="w3-text-gray">{{record?.Energy}} kWh</h2>
                    <h4 class="w3-text-white">{{average?.EnergyAVG}} kWh</h4>
                </div>
            </div>
        </div>
        <div class="w3-hide-large">
            <div class="w3-lime w3-panel w3-row">
                <i class="w3-col s2 fa fa-thermometer w3-xlarge w3-text-green w3-center"></i>
                <label class="w3-col s5 w3-text-gray w3-xlarge">{{record?.Temperature}} ºC</label>
                <label class="w3-col s5 w3-text-white w3-large">{{average?.TemperatureAVG}} ºC</label>
            </div>
            <div class="w3-lime w3-panel w3-row">
                <i class="w3-col s2 fa fa-tint w3-xlarge w3-text-green w3-center"></i>
                <label class="w3-col s5 w3-text-gray w3-xlarge">{{record?.Humidity * 100 | number:'2.0'}} %</label>
                <label class="w3-col s5 w3-text-white w3-large">{{average?.HumidityAVG * 100 | number:'2.0'}} %</label>
            </div>
            <div class="w3-lime w3-panel w3-row">
                <i class="w3-col s2 fa fa-sun-o w3-xlarge w3-text-green w3-center"></i>
                <label class="w3-col s5 w3-text-gray w3-xlarge">{{record?.Luminosity}} lm</label>
                <label class="w3-col s5 w3-text-white w3-large">{{average?.LuminosityAVG}} lm</label>
            </div>
            <div class="w3-lime w3-panel w3-row">
                <i class="w3-col s2 fa fa-flash w3-xlarge w3-text-green w3-center"></i>
                <label class="w3-col s5 w3-text-gray w3-xlarge">{{record?.Energy}} kWh</label>
                <label class="w3-col s5 w3-text-white w3-large">{{average?.EnergyAVG}} kWh</label>
            </div>
        </div>
        <a (click)="accordion()" class="w3-hide-small w3-hide-medium w3-btn w3-lime w3-hover-khaki"> Histórico </a>

        <div id="accordion" class="w3-container w3-hide">
            <br>
            <table style="width:100%; text-align: left;">
                <tr>
                    <th>Data</th>
                    <th><i class="w3-col s2 fa fa-thermometer w3-xlarge w3-text-green w3-center"></i></th>
                    <th><i class="w3-col s2 fa fa-tint w3-xlarge w3-text-green w3-center"></i></th>
                    <th><i class="w3-col s2 fa fa-sun-o w3-xlarge w3-text-green w3-center"></i></th>
                    <th><i class="w3-col s2 fa fa-flash w3-xlarge w3-text-green w3-center"></i></th>
                </tr>
                <tr *ngFor="let hist of historic">
                    <td>{{hist?.Hour | date: 'EEE, dd MMM y - HH:mm:ss'}}</td>
                    <td>{{hist?.Temperature | number:'2.0'}} ºC</td>
                    <td>{{hist?.Humidity* 100 | number:'2.0'}} %</td>
                    <td>{{hist?.Luminosity}} lm</td>
                    <td>{{hist?.Energy}} kWh</td>
                </tr>
            </table>
        </div>

    </div>
</div>