<div class="container white" style="margin-bottom:25px">
    <div class="center">
        <h2 class="green-text text-darken-2">Adicionar uma Turma</h2>
    </div>
    <div class="row">
        <form class="col s12 left-align">
            <div class="col s10 offset-s1">
                <div class="input-field row">
                    <input [(ngModel)]="class.ClassDesc" type="text" id="ClassDesc" name="ClassDesc" required/>
                    <label for="ClassDesc">Turma:</label>
                </div>
                <div class="row">
                    <div class="switch">
                        <label>
                     Jardim de Infância
                      <input type="checkbox" [(ngModel)]="checkedPrimary" [ngModelOptions]="{standalone: true}">
                      <span class="lever"></span>
                      Escola Primária
                    </label></div>
                    <div *ngIf="checkedPrimary" class="input-field">
                        <input [(ngModel)]="class.SchoolYear" type="text" id="SchoolYear" name="SchoolYear" required/>
                        <label for="SchoolYear">Ano Escolar ( ex. 3º )":</label>
                    </div>
                </div>
                <div class="row">
                    <select [(ngModel)]="class.SchoolFK" name="SchoolFK" class="browser-default" style="cursor:pointer">
                                <option *ngFor="let school of schools" value="{{school.ID}}">{{school.Name}}</option>
                        </select>
                    <label>Selecionar uma escola</label>
                </div>
            </div>
        </form>
    </div>
    <div class="center" style="padding:20px">
        <button type="submit" class="btn waves-effect waves-light green darken-2" (click)="createClass()"><i class="material-icons right">send</i>Submeter</button>
    </div>
</div>