<div class="container white" style="margin-top:25px">
    <div class="center" style="padding-top: 20px">
        <h4 class="green-text text-darken-2">Adicionar um piso</h4>
    </div>
    <div class="row">
        <form class="col s12 left-align">
            <div class="col s10 offset-s1">
                <div class="input-field row">
                        <input [(ngModel)]="floor.Name" type="text" name="Name" required/>
                        <label for="Name">Nome:</label>
                </div>
                <div class="file-field input-field row">
                    <div class="btn green darken-2 col s3">
                        <span>Planta do Piso:</span>
                        <input (change)="getImage($event)" type="file" required/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Nenhum ficheiro selecionado"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="center" style="padding:20px">
        <button type="submit" class="btn waves-effect waves-light green darken-2" (click)="createFloor()"><i class="material-icons right">send</i>Submeter</button>
    </div>
</div>