<div class="w3-container w3-white">
    <h2>Adicionar piso</h2>
    <form>
        <div class="w3-left-align w3-row">
            <label class="w3-col s3">Nome:</label>
            <input [(ngModel)]="floor.Name" class="w3-input w3-col s9" type="text" name="Name" required/>
            <div class="w3-col"><br></div>
            <label class="w3-col s3">Planta do Piso:</label>
            <input (change)="getImage($event)" class="w3-input w3-col s9" type="file" required/>
            <div class="w3-col"><br></div>
            <label class="w3-col s3">Escola:</label>
            <select [(ngModel)]="floor.SchoolFK" name="SchoolFK" class="w3-col s9">
              <option *ngFor="let school of schools" value="{{school.ID}}">{{school.Name}}</option>
            </select>
            <div class="w3-col"><br></div>
        </div>
    </form>
</div>
<button type="submit" class="w3-button w3-khaki w3-margin-top w3-block w3-hover-lime" (click)="createFloor()"><label class="w3-large">Submeter</label></button>
