<div class="container white" style="margin-bottom:25px">
    <div class="center">
        <h2 class="green-text text-darken-2">Adicionar um piso</h2>
    </div>
    <div class="row">
        <form class="col s12 left-align">
            <div class="col s10 offset-s1">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="col s12 m12 left-align collapsible-header active">
                            <h4>Sumário</h4>
                        </div>
                        <div class="col s12 m12 right-align collapsible-body">
                                <input />
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m12 left-align collapsible-header">
                            <h4>Trabalho de casa</h4>
                        </div>
                        <div class="col s12 m12 right-align collapsible-body">
                            <input />
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m12 left-align collapsible-header">
                            <h4>Observações</h4>
                        </div>
                        <div class="col s12 m12 right-align collapsible-body">
                                <input />
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>