<div class="row" style="margin-top:50px">
    <div *ngIf="_adminGuard.canActivate()" class="col m4">
        <a class="btn green" [routerLink]="['school']">
            Adicionar Escola
        </a>
    </div>
    <div *ngIf="_adminGuard.canActivate()" class="col m4">
        <a class="btn green" [routerLink]="['floor']">
           Adicionar piso
        </a>
    </div>
    <div *ngIf="_adminGuard.canActivate()" class="col m4">
        <a class="btn green" [routerLink]="['room']">
         Adicionar Sala
        </a>
    </div>
    <div *ngIf="_adminGuard.canActivate()" class="col m4">
        <a class="btn green" [routerLink]="['sensor']">
            Adicionar Sensor
        </a>
    </div>
    <div class="col m4">
        <a class="btn green m4" [routerLink]="['class']">
                Adicionar Turma
            </a>
    </div>
</div>
<hr>
<div class="w3-animate-bottom">
    <router-outlet></router-outlet>
</div>