<nav class="green darken-2">
    <div class="nav-wrapper">
        <ul class="row">
            <li class="col l3 s12 center">
                <a [routerLink]="['user']">
                        Registar Utilizador
                    </a>
            </li>
            <li class="col l3 s12 center">
                <a [routerLink]="['studguard']">
                    Adicionar parentesco
                </a>
            </li>
        </ul>
    </div>
</nav>
<hr>
<div>
    <router-outlet></router-outlet>
</div>