<nav>
    <div class="nav-wrapper">
        <ul class="row">
            <li class="col l1"></li>
            <li class="col l2 s12">
                <a [routerLink]="['school']">
                        Adicionar Escola
                    </a>
            </li>
            <li class="col l2 s12">
                <a [routerLink]="['floor']">
                        Adicionar piso
                    </a>
            </li>
            <li class="col l2 s12">
                <a [routerLink]="['room']">
                        Adicionar Sala
                    </a>
            </li>
            <li class="col l2 s12">
                <a [routerLink]="['sensor']">
                        Adicionar Sensor
                    </a>
            </li>
            <li class="col l2 s12">
                <a [routerLink]="['class']">
                    Adicionar Turma
                </a>
            </li>
            <li class="col l1"></li>
        </ul>
    </div>
</nav>
<hr>
<div>
    <router-outlet></router-outlet>
</div>