<div class="container white" style="margin-bottom:25px">
    <div class="center">
        <h2 class="green-text text-darken-2">Adicionar uma sala</h2>
    </div>
    <div class="row">
        <form class="col s12 left-align">
                <div class="input-field row col s10 offset-s1">
                    <input [(ngModel)]="room.Name" type="text" id="Name" name="Name" required/>
                    <label for="Name">Nome:</label>
                </div>
                <div class="row col s10 offset-s1">
                    <select name="school" [(ngModel)]="schools.ID" (ngModelChange)="getFloors($event)" class="browser-default" style="cursor:pointer">
                                <option *ngFor="let school of schools" value="{{school?.ID}}">{{school?.Name}}</option>
                        </select>
                    <label>Selecionar uma escola</label>
                </div>
                <div class="row col s10 offset-s1">
                    <select name="school" [(ngModel)]="room.FloorFK" (ngModelChange)="getMap($event)" class="browser-default" style="cursor:pointer">
                                <option *ngFor="let floor of floors" value="{{floor?.ID}}">{{floor?.Name}}</option>
                        </select>
                    <label>Selecionar um Piso:</label>
                </div>
                <div class="row">
                    <div id="board" class="col container center">
                    </div>
                </div>
        </form>
    </div>
    <div class="center" style="padding:20px">
        <button type="submit" class="btn waves-effect waves-light green darken-2" (click)="createRoom()"><i class="material-icons right">send</i>Submeter</button>
    </div>
</div>