<div class="container white">
    <h2>Criar uma escola</h2>
    <form>
        <div class="left-align row">
            <label class="col s3">Nome:</label>
            <input [(ngModel)]="school.Name" class="input col s9" type="text" name="Name" required/>
            <div class="col"><br></div>
            <label class="col s3">Logótipo:</label>
            <input (change)="getLogoImage($event)" class="input col s9" type="file" required/>
            <div class="col"><br></div>
            <label class="col s3">Imagem de perfil:</label>
            <input (change)="getProfileImage($event)" class="input col s9" type="file" required/>
            <div class="col"><br></div>
            <label class="col s3">Acrónimo:</label>
            <input [(ngModel)]="school.Acronym" name="Acronym" class="input col s9" required/>
            <div class="col"><br></div>
            <label class="col s3">Alguma informação relativa à escola:</label>
            <div class="col s9">
                <textarea id="textarea" [(ngModel)]="school.About" name="About" class="input" style="resize:none" rows="5" cols="8" required></textarea>
            </div>
                <div class="col"><br></div>
        </div>
    </form>
</div>
<button type="submit" class="" (click)="createSchool()"><label class="">Submeter</label></button>