<div class="container white" style="margin-top:25px">
  <div class="center" style="padding-top: 20px;">
    <h4 class="green-text text-darken-2">Adicionar um Sensor</h4>
  </div>
  <div class="row">
    <form class="col s12 left-align">
      <div class="col s10 offset-s1">
        <div class="input-field row">
          <input [(ngModel)]="sensor.Name" type="text" id="Name" name="Name" required/>
          <label for="Name">Nome:</label>
        </div>
        <div class="row">
          <select name="RoomFK" [(ngModel)]="sensor.RoomFK" class="browser-default" style="cursor:pointer">
                      <option *ngFor="let room of rooms" value="{{room?.ID}}">{{room?.Name}}</option>
              </select>
          <label>Selecionar uma Sala:</label>
        </div>
      </div>
    </form>
  </div>
  <div class="center" style="padding:20px">
    <button type="submit" class="btn waves-effect waves-light green darken-2" (click)="createSensor()"><i class="material-icons right">send</i>Submeter</button>
  </div>
</div>