<div class="container white" style="margin-bottom:25px">
    <div class="center" style="padding-top: 20px">
        <h4 class="green-text text-darken-2">Adicionar um Utilizador</h4>
    </div>
    <div class="row">
        <form class="col s12 left-align">
            <div class="col s10 offset-s1">
                <div class="row">
                    <select [(ngModel)]="user.roleID" name="roleID" (change)="checked=true" class="browser-default" style="cursor:pointer">
                           <option value="1">Estudante</option>
                           <option value="2">Teacher</option>
                            <option *ngIf="_adminGuard.canActivate()" value="3">Secretário</option>
                            <option value="4">Auxiliar</option>
                            <option value="5">Encarregado de Educação</option>
                        </select>
                    <label>Selecionar uma escola</label>
                </div>
                <div *ngIf="checked">
                    <div class="row">
                        <div class="col s6">
                            <!--*************************Name*****************************************-->
                            <div>
                                <i class="fa fa-user"></i>
                                <input class="input" type="text" [(ngModel)]="user.Name" name="Name" placeholder="Nome" required/>
                            </div>
                            <!--*************************Password*****************************************-->
                            <div>
                                <i class="fa fa-key"></i>
                                <input class="input" type="password" name="Password" [(ngModel)]="user.Password" placeholder="Password" required/>
                            </div>
                            <div>
                                <i class="fa fa-key"></i>
                                <input class="input" type="password" name="confirmPassword" (keyup)="confirmPassword($event)" placeholder="Confirmar Password"
                                    required/>
                            </div>
                            <!--*************************Email*****************************************-->
                            <div>
                                <i class="fa fa-envelope"></i>
                                <input class="input" type="text" [(ngModel)]="user.Email" name="Email" placeholder="Email" required/>
                            </div>
                            <!--*************************DateOfBirth*****************************************-->
                            <div *ngIf="user.RoleID!=5 && user.RoleID!=6">
                                <i class="fa fa-birthday-cake"></i>
                                <input type="date" name="DateOfBirth" [(ngModel)]="user.DateOfBirth" placeholder="Data de Nascimento" />
                            </div>
                            <!--*************************Function*****************************************-->
                            <div>
                                <i class="fa fa-wrench"></i>
                                <input class="input" type="text" [(ngModel)]="user.Function" name="Function" placeholder="Função" />
                            </div>
                        </div>
                        <div class="col s6">
                            <!--*************************Address*****************************************-->
                            <div *ngIf="user.roleID!=6">
                                <i class="fa fa-home"></i>
                                <input class="input" type="text" [(ngModel)]="user.Address" name="Address" placeholder="Morada" />
                            </div>
                            <!--*************************CitizenCard*****************************************-->
                            <div>
                                <i class="fa fa-id-card"></i>
                                <input class="input" type="text" name="CitizenCard" [(ngModel)]="user.CitizenCard" placeholder="Cartão do Cidadão" />
                            </div>
                            <!--*************************FiscalNumber*****************************************-->
                            <div>
                                <i class="fa fa-id-card-o"></i>
                                <input class="input" type="text" name="FiscalNumber" [(ngModel)]="user.FiscalNumber" placeholder="Número de Contribuinte"
                                />
                            </div>
                            <!--*************************Curriculum*****************************************-->
                            <div *ngIf="user.roleID!=1 && user.roleID!=5 && user.roleID!=6">
                                <div class="file-field input-field">
                                    <div class="btn green darken-2 col">
                                        <span>Currículo:</span>
                                        <input (change)="getCurriculum($event)" type="file" required/>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Nenhum ficheiro selecionado">
                                    </div>
                                </div>
                            </div>
                            <!--*************************Phone Number*****************************************-->
                            <div *ngIf="user.roleID!=1">
                                <i class="fa fa-mobile"></i>
                                <input class="w3-input" type="text" name="PhoneNumber" [(ngModel)]="user.PhoneNumber" placeholder="Número de Telefone / Telemóvel"
                                />
                            </div>
                            <!--*************************Photo*****************************************-->
                            <div *ngIf="user.roleID!=5">
                                <div class="file-field input-field">
                                    <div class="btn green darken-2">
                                        <span>Imagem de Perfil:</span>
                                        <input (change)="getProfileImage($event)" type="file" required/>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Nenhum ficheiro selecionado">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="confirmed" class="center" style="padding:20px">
            <button type="submit" class="btn waves-effect waves-light green darken-2" (click)="createUser()"><i class="material-icons right">send</i>Submeter</button>
        </div>
        <div *ngIf="!confirmed" class="center" style="padding:20px">
            <button type="submit" disabled class="btn waves-effect waves-light green darken-2" (click)="createUser()"><i class="material-icons right">send</i>Submeter</button>
        </div>
    </div>
</div>