<!--   HEADER   -->
<navbar></navbar>
<!-- End HEADER -->
<div id="content">
  <!--    BODY    -->
  <router-outlet></router-outlet>
  <!--  End BODY  -->
</div>
<!--   FOOTER   -->
<footer class="page-footer white" style="position:relative;padding:0px">
  <div class="container">
    <div class="row" style="margin-bottom:0px;">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-2">CQPROJ - {{today|date:'y'}}</h5>
        <p></p>
      </div>
      <div class="col l6 s12 grey-text text-darken-2">
        <ul>
          <li style="display:inline">{{dm}} |</li>
          <li style="display:inline">{{ra}} |</li>
          <li style="display:inline">{{db}}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End FOOTER -->