<div class="w3-bar w3-teal w3-row">
  <div class="w3-col l1  w3-container"></div>
  <div class="w3-col l10 w3-container">
    <h4 class="w3-bar-item"><span class="w3-tag w3-padding w3-round-large w3-deep-orange w3-center">CQProject</span></h4>

    <div *ngIf="!authorized">
      <form class="w3-padding-24">
        <a (click)="login()" id="btUserLogin" class="w3-bar-item w3-button w3-right w3-hover-blue-gray w3-margin-left">Entrar</a>
        <input class="w3-input w3-bar-item w3-right" type="password" [(ngModel)]="pass" name="pass" placeholder="Password" required>
        <i class="fa fa-lock w3-bar-item w3-right"></i>
        <input class="w3-input w3-bar-item w3-right " type="text" [(ngModel)]="mail" name="mail" placeholder="Email" required>
        <i class="fa fa-user w3-bar-item w3-right"></i>
      </form>
    </div>

    <div *ngIf="authorized">
      <div class="w3-bar-item w3-right w3-dropdown-hover w3-teal">
        <img [src]="user.photo" class="w3-image" style="max-height: 70px;">
        <div class="w3-dropdown-content w3-bar-block w3-card-4" >
          <a href="#" class="w3-bar-item w3-button">Notificações </a>
          <a (click)="logout()" class="w3-bar-item w3-button">Logout</a>
          <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div>
      </div>
    </div>

  </div>
  <div class="w3-col l1  w3-container"></div>
</div>