<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <!-- ////////////////////////////////////////////////////////// -->
    <br>
    <div class="w3-white w3-container w3-card-4">
        <h1>{{title}}<small> -  {{subtitle}}</small></h1>
    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col m3">
            <div class="w3-light-grey w3-card-2 w3-row">
                <div class="w3-col s12 w3-button w3-left-align">
                    <a onclick="listChooser('teachers')">
                        <h5>Teachers</h5>
                    </a>
                </div>
                <div class="w3-col s12 w3-button w3-left-align">
                    <a onclick="listChooser('classes')">
                        <h5>Classes</h5>
                    </a>
                </div>
                <div class="w3-col s12 w3-button w3-left-align">
                    <a onclick="listChooser('secretaries')">
                        <h5>Secretariat</h5>
                    </a>
                </div>
                <div class="w3-col s12 w3-button w3-left-align">
                    <a onclick="listChooser('assistants')">
                        <h5>School Assistants</h5>
                    </a>
                </div>
            </div>
        </div>

        <div id="secretaries" class="w3-col m9 w3-hide">
            <div class="w3-container w3-row-padding">
                <div *ngFor="let secretary of secretaries">
                    <a class="w3-btn w3-col s6 m4 l3 w3-animate-bottom" [routerLink]="['/secretary/profile/', secretary.ID]">
                        <div class="w3-card-2 w3-display-container">
                            <img src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
                            <div class="w3-display-bottommiddle w3-large">{{secretary?.Name}}</div>
                        </div>
                        <div class="w3-padding-16 w3-center">
                            <span class="w3-tag w3-teal w3-round-large">{{secretary?.Email}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="classes" class="w3-col m9 w3-hide">
            <div class="w3-container w3-row-padding">
                <div *ngFor="let class of classes">
                    <a class="w3-btn w3-col s6 m4 l3 w3-animate-bottom" [routerLink]="['/class/profile/', class.ID]">
                        <div class="w3-card-2 w3-display-container">
                            <img src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
                            <div class="w3-display-bottommiddle w3-large">{{class?.SchoolYear}}{{class?.ClassDesc}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="teachers" class="w3-col m9 w3-hide">
            <div class="w3-container w3-row-padding">
                <div *ngFor="let teacher of teachers">
                    <a class="w3-btn w3-col s6 m4 l3 w3-animate-bottom" [routerLink]="['/teacher/profile/', teacher.ID]">
                        <div class="w3-card-2 w3-display-container">
                            <img src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
                            <div class="w3-display-bottommiddle w3-large">{{teacher?.Name}}</div>
                        </div>
                        <div class="w3-padding-16 w3-center">
                            <span class="w3-tag w3-teal w3-round-large">{{teacher?.Email}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="assistants" class="w3-col m9 w3-hide">
            <div class="w3-container w3-row-padding">
                <div *ngFor="let assistant of assistants">
                    <a class="w3-btn w3-col s6 m4 l3 w3-animate-bottom" [routerLink]="['/assistant/profile/', assistant.ID]">
                        <div class="w3-card-2 w3-display-container">
                            <img src="https://placehold.it/80x80?text=IMAGE" style="width:100%">
                            <div class="w3-display-bottommiddle w3-large">{{assistant?.Name}}</div>
                        </div>
                        <div class="w3-padding-16 w3-center">
                            <span class="w3-tag w3-teal w3-round-large">{{assistant?.StartWorkTime |date:'shortTime'}} - {{assistant?.EndWorkTime|date:'shortTime'}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <script>
        inicCurrentList();
    </script>