<div class="w3-bar w3-teal w3-row">
  <div class="w3-col l1  w3-container"></div>
  <div class="w3-col l10 w3-container">
    <a href="#" class="w3-bar-item w3-btn w3-deep-orange">
      <h4><i class="fa fa-home w3-margin-right"></i>CQPROJ</h4>
    </a>

    <div *ngIf="!authorized" class="w3-hide-medium w3-hide-small">
      <form class="w3-padding-16">
        <a (click)="login()" id="btUserLogin" class="w3-bar-item w3-button w3-right w3-hover-blue-gray w3-margin-left">Entrar</a>
        <input class="w3-input w3-bar-item w3-right" type="password" [(ngModel)]="pass" name="pass" placeholder="Password" required>
        <i class="fa fa-lock w3-bar-item w3-right"></i>
        <input class="w3-input w3-bar-item w3-right " type="text" [(ngModel)]="mail" name="mail" placeholder="Email" required>
        <i class="fa fa-user w3-bar-item w3-right"></i>
      </form>
    </div>

    <div *ngIf="!authorized">
      <div class="w3-bar-item w3-right w3-dropdown-click w3-hide-large w3-hover-blue-gray" style="max-height: 65px">
        <a (click)="dropdown('login')" class="w3-xxlarge"><i class="fa fa-bars"></i></a>
        <div id="login" class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
          <form>
            <div class="w3-row w3-margin-top w3-margin-right w3-margin-left" style="max-width: 250px;">
              <div class="w3-col s1 w3-large"><i class="fa fa-user w3-margin-top"></i></div>
              <input class="w3-col s11 w3-input w3-right " type="text" [(ngModel)]="mail" name="mail" placeholder="Email" required>
              <div class="w3-col s1 w3-large"><i class="fa fa-lock w3-margin-top"></i></div>
              <input class="w3-col s11 w3-input w3-right" type="password" [(ngModel)]="pass" name="pass" placeholder="Password" required>
              <a (click)="login()" id="btUserLogin" class="w3-col w3-margin-top w3-button w3-hover-blue-gray">Entrar</a>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div *ngIf="authorized">
      <div class="w3-bar-item w3-right w3-dropdown-click w3-teal">
        <a (click)="dropdown('options')" class=""><div class="w3-panel"><i class="fa fa-user-circle w3-xlarge"></i></div></a>
        <div id="options" class="w3-dropdown-content w3-bar-block w3-card-4">
          <notifications></notifications>
          <a (click)="logout()" class="w3-bar-item w3-button">Logout</a>
        </div>
      </div>
    </div>

  </div>
  <div class="w3-col l1  w3-container"></div>
</div>