<nav class="white" style="max-height: 66px;margin-bottom:10px" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" [routerLink]="['home']" class="brand-logo" style="color:#444">
      <i class="material-icons hide-on-small-only" style="font-size:2.5rem">home</i><b>CQPROJ</b>
    </a>

    <ul *ngIf="!authorized" class="right hide-on-med-and-down">
      <form>
        <li>
          <div class="input-field" style="margin-right:5px; width:200px">
            <input id="mail" type="text" [(ngModel)]="mail" name="mail" class="validate black-text" required />
            <label for="mail" class="grey-text text-darken-2">Email</label>
          </div>
        </li>
        <li>
          <div class="input-field" style="margin-left:5px; width:200px">
            <input id="pass" type="password" [(ngModel)]="pass" name="pass" class="validate black-text" required />
            <label for="pass" class="grey-text text-darken-2">Password</label>
          </div>
        </li>
        <li *ngIf="pass && mail">
          <a (click)="login()" id="btUserLogin" class="btn waves-effect waves-light grey darken-2">Entrar</a>
        </li>
        <li *ngIf="!pass || !mail">
          <a (click)="login()" disabled id="btUserLogin" class="btn waves-effect waves-light">Entrar</a>
        </li>
      </form>
    </ul>

    <a href="#" class="button-collapse grey-text text-darken-2" data-activates="nav-mobile"><i class="material-icons">menu</i></a>

    <div id="nav-mobile" class="side-nav hide-on-large-only" *ngIf="!authorized" style="transform:translate()">
      <div class="row">
        <a id="logo-container" [routerLink]="['home']" class="brand-logo" style="color:#444">
          <b>CQPROJ</b>
      </a>
      </div>
      <form>
        <div class="row" style="margin-top:40px">
          <div class="col s1 m1"></div>
          <div class="input-field col s10 m10">
            <input id="mail" type="text" [(ngModel)]="mail" name="mail" class="validate black-text" required />
            <label for="mail" class="grey-text text-darken-2">Email</label>
          </div>
          <div class="col s1 m1"></div>
        </div>
        <div class="row">
          <div class="col s1 m1"></div>
          <div class="input-field col s10 m10">
            <input id="pass" type="password" [(ngModel)]="pass" name="pass" class="validate black-text" required />
            <label for="pass" class="grey-text text-darken-2">Password</label>
          </div>
          <div class="col s1 m1"></div>
        </div>
        <div class="row">
          <div class="col s2 m2"></div>
          <div class="col s3 m3" *ngIf="pass && mail">
            <a (click)="login()" id="btUserLogin" class="btn waves-effect waves-light grey darken-2">Entrar</a>
          </div>
          <div class="col s3 m3" *ngIf="!pass || !mail">
            <a (click)="login()" disabled id="btUserLogin" class="btn waves-effect waves-light">Entrar</a>
          </div>
          <div class="col s2 m2"></div>
          <div class="col s3 m3">
            <a (click)="closeNavMobile()" class="waves-effect waves-light grey darken-2 btn">Voltar</a>
          </div>
          <div class="col s2 m2"></div>
        </div>
      </form>
    </div>

    <ul *ngIf="authorized" class="right">
      <li>
        <a [routerLink]="['/user/details/', user.userID]" class="grey-text text-darken-2">
          <i class="material-icons left" style="margin-right:5px">account_circle</i>{{user?.name}}
        </a>
      </li>
      <li>
        <notifications></notifications>
      </li>
      <li>
        <a (click)="logout()" class="grey-text text-darken-2">
            <i class="material-icons right" style="margin-left:5px">exit_to_app</i>Sair</a>
      </li>
    </ul>

    <div id="nav-mobile" class="side-nav hide-on-large-only" *ngIf="authorized" style="transform:translate()">
      <div class="row">
        <a id="logo-container" [routerLink]="['home']" class="brand-logo" style="color:#444">
            <b>CQPROJ</b>
        </a>
      </div>
      <ul>
        <li>
          <a [routerLink]="['/user/details/', user.userID]" class="grey-text text-darken-2">
              <i class="material-icons left" style="margin-right:5px">account_circle</i>{{user?.name}}
            </a>
        </li>
        <li>
          <notifications></notifications>
        </li>
        <li>
          <a (click)="logout()" class="grey-text text-darken-2">
                <i class="material-icons right" style="margin-left:5px">exit_to_app</i>Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>