<nav>
    <div class="nav-wrapper">
        <ul class="row green">
            <li id="received" class="tablink col s6 green center-align green darken-2" (click)="chooseOption('received')" style="padding:0px">
                <a class="col s12" [routerLink]="['received']" class="flow-text">
                            Notificações Recebidas
                    </a>
            </li>
            <li id="sent" class="tablink col s6 green center-align" (click)="chooseOption('sent')" style="padding:0px">
                <a class="col s12" [routerLink]="['sent']" class="flow-text">
                            Notificações Enviadas
                    </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

