<div *ngIf="!_studentGuard.canActivate()">
    <a *ngIf="notifications==0" [routerLink]="['/notifications']" class="grey-text text-darken-2"><i class="material-icons left" style="margin-right:2px">notifications</i><span class="">Sem novas notificações</span></a>
    <a *ngIf="notifications!=0" [routerLink]="['/notifications']" class="grey-text text-darken-2">Notificações<i class="material-icons left" style="margin-right:2px">notifications_active</i><span data-badge-caption="" class="new badge btn-floating pulse green darken-2">{{notifications}}</span></a>
</div>