<div id="receivedMessages" class="informationNotif" style="margin-top:5px">
    <div class="col l10 container offset-l1">
        <div *ngFor="let notification of receivedNotifications , let i=index" class="row" [ngClass]="notification.Read ? 'grey lighten-1' : 'white'"
            style="margin:2px;cursor:pointer" (click)="readNotification(notification.ID, i)">
            <div class="col l1 s12 m1"></div>
            <div class="col l3 m3 s12" style="margin-top:5px">
                <span class="left-align"><a [ngClass]="notification.Read ? 'black-text' : 'black-text'">{{notification?.Sender}}</a></span>
            </div>
            <div class="col l6 m6 s12" style="margin-top:5px">
                <span [ngClass]="notification.Read ? 'black-text' : 'black-text'">{{notification?.Subject}}</span>
            </div>
            <div class="col l2 m2 s12">
                <div class="col s12">
                    <i [ngClass]="notification.Read ? 'grey lighten-1 black-text' : 'white black-text'" class="fa fa-calendar"></i>
                    <span [ngClass]="notification.Read ? 'grey lighten-1 black-text' : 'white black-text'"> {{notification?.Hour | date}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="notifReceived" class="modal">
    <div class="modal-content" style="padding:0px">
        <header class="green">
            <div class="right-align">
                <a (click)="closeNotifDetails()">
                    <i class="material-icons white-text" style="cursor:pointer">close</i>
                </a>
            </div>
            <div class="center-align" style="margin-top:-20px">
                <h3 class="white-text">{{selected?.Subject}}</h3>
            </div>
        </header>
        <div class="container" style="margin:20px;width:90%">
            <div>
                <div class="row">
                    <div class="col s2"><b>Data:</b></div>
                    <div class="col s10"> {{selected?.Hour | date}}</div>
                </div>
                <div class="row">
                    <div class="col s2"><b>Remetente:</b></div>
                    <div class="col s10">{{selected?.Sender}}</div>
                </div>
                <div class="row">
                    <div class="col s12"><b>Descrição:</b></div>
                    <div class="col s12" id="notRecDescription"></div>
                </div>
                <div class="row" *ngIf="selected?.Approval" style="position:relative">
                    <div class="col s10 offset-s1 center-align">
                        <div *ngIf="!selected?.Accepted">
                            <input type="checkbox" [(ngModel)]="checked" id="checked" />
                            <label for="checked"></label> Aceito o uso da plataforma para validação da minha aprovação:
                            <div class="row center-align">
                                <button class="btn lime white-text" [disabled]="!checked" (click)="accept(selected?.ID)"> <i class="fa fa-check"></i> </button>
                            </div>
                        </div>
                        <div *ngIf="selected.Accepted">
                            <br>
                            <span class="orange-text">Validação Aprovada</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>