<div id="sentMessages" class="informationNotif" style="margin-top:5px">
    <div class="col l10 container offset-l1">
        <div *ngFor="let notification of sentNotifications, let i=index" class="row grey lighten-1" (click)="showNotifDetails(i,notification.ID)"
            style="cursor:pointer">
            <div class="col l1 s12 m1"></div>
            <div class="col l6 m6 s12" style="margin-top:5px">
                <span class="black-text">{{notification?.Subject}}</span>
            </div>
            <div class="col l3 m3 s12" style="margin-top:5px">
                <span class="black-text"> {{notification?.Hour}}</span>
            </div>
            <div class="col l2 m2 s12">
                <div class="col s12">
                    <i class="black-text" class="fa fa-calendar"></i>
                    <span class="black-text">  {{notification?.Hour | date}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="notifSent" class="modal">
    <div class="modal-content" style="padding:0px">
            <header style="position: relative">
                    <a class="btn-floating deep-orange darken-2" (click)="closeNotifDetails()" style="position:absolute; right: 10px;">
                        <i class="material-icons white-text" style="cursor:pointer">close</i>
                    </a>
                </header>
        <div class="container" style="margin:20px; padding-top: 10px;">
            <div>
                <div class="row">
                    <div class="col s2"><b>Asunto:</b></div>
                    <div class="col s10"><b>{{selected?.Subject}}</b></div>
                </div>
                <div class="row">
                    <div class="col s2"><b>Data:</b></div>
                    <div class="col s10"> {{selected?.Hour | date}}</div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s6"><b>Destinatario:</b></div>
                            <div class="col s6"><b>Aluno Associado:</b></div>
                        </div>
                        <div *ngFor="let validation of sentValidations" class="row" style="margin:0px">
                            <div class="col s6">{{validation.Receiver}}</div>
                            <div class="col s6">{{validation?.Student}}</div>
                            <div style="border-bottom:1px solid #eee"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12"><b>Descrição:</b></div>
                    <div class="col s12" id="notSentDescription"></div>
                </div>
                <div class="row">
                    <div class="col s2"><b>Urgencia:</b></div>
                    <div class="col s10">
                        <span *ngIf="selected?.Urgency"><i class="fa fa-check-circle-o" style="font-size:1.5rem"></i></span>
                        <span *ngIf="!selected?.Urgency"><i class="fa fa-times-circle-o" style="font-size:1.5rem"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2"><b>Para aprovação:</b></div>
                    <div class="col s10">
                        <span *ngIf="selected?.Approval"><i class="fa fa-check-circle-o" style="font-size:1.5rem"></i></span>
                        <span *ngIf="!selected?.Approval"><i class="fa fa-times-circle-o" style="font-size:1.5rem"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2"><b>Aprovados:</b></div>
                    <div class="col s10">
                        <span *ngFor="let validation of sentValidations">
                            <span *ngIf="validation?.Accepted">{{validation?.Student}}</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2"><b>Rejeitados:</b></div>
                    <div class="col s10">
                        <span *ngFor="let validation of sentValidations">
                    <span *ngIf="!validation?.Accepted">{{validation?.Student}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="fixed-action-btn" (click)="writeMessage()">
    <a class="btn-floating btn-large waves-effect waves-light green darken-2"><i class="material-icons">edit</i></a>
</div>

Modal Structure 
<div id="writeMessage" class="modal">
    <div class="modal-content">
        <div class="right-align">
            <a (click)="closeWriteMessage()">
                <i class="material-icons green-text text-darken-2" style="cursor:pointer">close</i>
            </a>
        </div>
        <notification-form></notification-form>
    </div>
</div>-->