<div class="row">
  <div class="col offset-s1 s10">
    <div *ngIf="_adminGuard.canActivate()" class="right-align">

      <div class="hide-on-med-and-up fixed-action-btn horizontal">
        <a class="btn-floating red" [routerLink]="['/form-school']">
     <i class="material-icons">add</i>
  </a>
        <ul>
          <li class="white">Adicionar Escola</li>
        </ul>
      </div>
      <div class="right-align hide-on-small-only">
        <a class="btn green darken-1" [routerLink]="['/form-school']">
        <label class="white-text">Criar uma nova escola</label>
    </a>
      </div>
      <hr>
    </div>

    <div *ngFor="let school of schools">
      <div class="col s12 m6 l6 center-align">
        <div class="card">
          <div class="card-image">
            <img [attr.src]="school?.ProfilePicture" style="height: 250px;">
            <span class="flow-text">{{school?.Name}}</span>
            <a class="btn-floating halfway-fab green darken-1" [routerLink]="['/school', school?.ID]" style="bottom:20px">
                <i class="material-icons">info_outline</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>