<div class="w3-row w3-center ">
  <div class="w3-col l1  w3-container"></div>
  <div class="w3-col l10 w3-container">

    <div *ngFor="let school of schools">
      <a class="w3-btn w3-col s6 m4 l3 w3-animate-bottom" (click)="show(school?.ID)">
        <div class="w3-card-2 w3-display-container">
          <img src="{{school?.ProfilePicture}}" style="width:100%">
          <div class="w3-display-bottommiddle w3-large">{{school?.Acronym}}</div>
        </div>
      </a>
    </div>
  </div>
  <div class="w3-col l1  w3-container"></div>
</div>

<div *ngFor="let school of schools">
  <div id="{{school?.ID}}" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container w3-deep-orange">
        <span (click)="hide(school?.ID)" class="w3-btn w3-display-topright">&times;</span>
      </div>
      <div class="w3-row">
        <div class="w3-col s3"><img src="{{school?.Logo}}" style="max-height: 90px"></div>
        <div class="w3-col s9 w3-margin-top w3-left-align">
          <h2>{{school?.Name}}</h2>
        </div>
      </div>
      <div class="w3-container">
        <img src="{{school?.ProfilePicture}}" style=" max-height: 500px">
        <p>{{school?.About}}</p>
      </div>
      <div class="w3-container w3-teal">
        <div *ngIf="_assistantGuard.canActivate()"><button [routerLink]="['/floor/school', school?.ID]">Edifícios</button></div>
        <div *ngIf="_secretaryGuard.canActivate()">está visivel a administradores e secretários</div>
      </div>
    </div>
  </div>
</div>