<div class="w3-hide-small ">
    <div class="w3-row w3-card w3-round w3-khaki">
        <div class="w3-col w3-hide-medium" style="width:10%">
            <div id="hoursColumn" class="w3-row w3-border-right"></div>
        </div>
        <div class="w3-col" style="width:90%">
            <div class="w3-row">
                <div class="w3-col" style="width:20%">
                    <div class="w3-col w3-green w3-border-bottom" style="height: 50px;">
                        <h4>Segunda</h4>
                    </div>
                    <div id="bigMonday" class="w3-row"></div>
                </div>
                <div class="w3-col" style="width:20%">
                    <div class="w3-col w3-green w3-border-bottom" style="height: 50px;">
                        <h4>Terça</h4>
                    </div>
                    <div id="bigTuesday" class="w3-row"></div>
                </div>
                <div class="w3-col" style="width:20%">
                    <div class="w3-col w3-green w3-border-bottom" style="height: 50px;">
                        <h4>Quarta</h4>
                    </div>
                    <div id="bigWednesday" class="w3-row"></div>
                </div>
                <div class="w3-col" style="width:20%">
                    <div class="w3-col w3-green w3-border-bottom" style="height: 50px;">
                        <h4>Quinta</h4>
                    </div>
                    <div id="bigThursday" class="w3-row"></div>
                </div>
                <div class="w3-col" style="width:20%">
                    <div class="w3-col w3-green w3-border-bottom" style="height: 50px;">
                        <h4>Sexta</h4>
                    </div>
                    <div id="bigFriday" class="w3-row"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3-hide-medium w3-hide-large">
    <div>
        <a (click)="accordion('smallMonday')" class="w3-btn w3-col schedule w3-round w3-green">Segunda</a>
        <div id="smallMonday" class="w3-hide w3-container w3-row"></div>
        <a (click)="accordion('smallTuesday')" class="w3-btn w3-col schedule w3-round w3-green">Terça</a>
        <div id="smallTuesday" class="w3-hide w3-container w3-row"></div>
        <a (click)="accordion('smallWednesday')" class="w3-btn w3-col schedule w3-round w3-green">Quarta</a>
        <div id="smallWednesday" class="w3-hide w3-container w3-row"></div>
        <a (click)="accordion('smallThursday')" class="w3-btn w3-col schedule w3-round w3-green">Quinta</a>
        <div id="smallThursday" class="w3-hide w3-container w3-row"></div>
        <a (click)="accordion('smallFriday')" class="w3-btn w3-col schedule w3-round w3-green">Sexta</a>
        <div id="smallFriday" class="w3-hide w3-container w3-row"></div>
    </div>
</div>

<div id="scheduleModal" class="w3-modal">
    <div class="w3-modal-content w3-card">
        <div class="w3-container w3-deep-orange">
            <span (click)="hide()" class="w3-btn w3-display-topright">&times;</span>
        </div>
        <div class="w3-panel w3-row w3-left-align">
            <div class="w3-col"><i class="w3-badge w3-green fa fa-info w3-xlarge"></i></div>
            <div class="w3-col m4 w3-lime"><label class="w3-margin-left">Disciplina:</label></div>
            <div class="w3-col m8 w3-lime"><label class="w3-margin-left"><b>{{selected?.Subject}}</b></label></div>
            <div class="w3-col m4 w3-khaki"><label class="w3-margin-left">Turma:</label></div>
            <div class="w3-col m8 w3-khaki"><label class="w3-margin-left"><b>{{selected?.ClassName}}</b></label></div>
            <div class="w3-col m4 w3-lime"><label class="w3-margin-left">Professor:</label></div>
            <div class="w3-col m8 w3-lime"><label class="w3-margin-left"><b>{{selected?.Teacher}}</b></label></div>
            <div class="w3-col m4 w3-khaki"><label class="w3-margin-left">Dia da semana:</label></div>
            <div class="w3-col m8 w3-khaki"><label class="w3-margin-left"><b>{{day[selected?.DayOfWeek-1]}}</b></label></div>
            <div class="w3-col m4 w3-lime"><label class="w3-margin-left">Hora:</label></div>
            <div class="w3-col m8 w3-lime"><label class="w3-margin-left"><b>{{time[selected?.StartingTime]}}</b></label></div>
            <div class="w3-col m4 w3-khaki"><label class="w3-margin-left">Sala:</label></div>
            <div class="w3-col m8 w3-khaki"><label class="w3-margin-left"><b>{{selected?.Room}}</b></label></div>
            <hr class="w3-col">
            <a [routerLink]="['/lessons', selected?.ID]" class="w3-col w3-btn w3-green w3-hover-lime w3-large">Lições</a>
        </div>
    </div>
</div>