<div class="w3-section w3-row">
    <a class="w3-half w3-border">
        <div id="primary" class="tablink w3-lime w3-hover-khaki w3-bottombar w3-padding w3-border-green" (click)="chooseOption('primaryC');">
            <label class="w3-large">1º Ciclo</label>
        </div>
    </a>
    <a class="w3-half w3-border">
        <div id="kindergarten" class="tablink w3-lime w3-hover-khaki w3-bottombar w3-padding" (click)="chooseOption('kindergartenC');">
            <label class="w3-large">Jardim de Infância</label>
        </div>
    </a>
</div>


<div id="primaryC" class="information w3-animate-bottom w3-hide w3-show w3-row w3-center">
    <div *ngFor="let class of primaryClasses">
        <a class="w3-margin w3-card-2 w3-btn w3-col s6 m4 l3 w3-animate-bottom w3-lime w3-hover-khaki" [routerLink]="['/class/primary/profile', class?.ID]">
            <h2><b>{{class?.Year}} {{class?.ClassDesc}}</b></h2>
        </a>
    </div>
</div>

<div id="kindergartenC" class="information w3-animate-bottom w3-hide w3-row w3-center">
    <div *ngFor="let class of kindergartenClasses">
        <a class="w3-margin w3-card-2 w3-btn w3-col s6 m4 l3 w3-animate-bottom w3-lime w3-hover-khaki" [routerLink]="['/class/kindergarten/profile', class?.ID]">
            <h2><b>{{class?.ClassDesc}}</b></h2>
        </a>
    </div>
</div>